<h1>Users</h1>
<did>
	<table>
		<thead>
			<tr>
				<th>image</th>
				<th>name</th>
				<th></th>
			</tr>
		</thead>

		<% @users.each do |f| %>
		<tbody>
			<tr>
				<td> <%= attachment_image_tag f, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg" %></td>
				<td><%= f.name %></td>
				<td><%= link_to 'Show', user_path(f) %></td>
			</tr>
		</tbody>
		<% end %>

	</table>
</did>
